@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
<<<<<<< HEAD
=======
    /* font-family: poppins; */
>>>>>>> 9f830b5b197fa453fab3a7e22502c7d6fc8f35d8
}

input{
    width: 50vw;
    outline: none;
    border: solid #6afaa8 2px;
    border-radius: 15px;
    padding: 5px 12px;
}

.no-scroll {
    overflow: hidden;
}